{#
/**
 * Block Name: Billboard block
 *
 * This is the template that displays the billboard block.
 */
#}
<div {{ anchor }} class="relative {{ fields.overlay_color == 'green' ? 'bg-green' : 'bg-gray-900' }}">
	<img src="{{ fields.background_image.url }}" srcset="{{ fields.background_image.srcset }}" alt="{{ fields.background_image.alt }}" class="absolute h-full w-full object-cover object-center opacity-30 {{ fields.overlay_color == 'green' ? 'mix-blend-overlay' : '' }}" />

	<div class="relative py-12 lg:py-24">
		{# <div class="absolute inset-0 h-full w-full {{ fields.color_overlay == 'green' ? 'bg-green/75' : 'bg-gray-900/75' }}"></div> #}
		<div class="z-5 relative w-full mx-auto xl:container px-6">
			<div class="text-center">
				<h2 class="text-3xl lg:text-5xl font-extrabold uppercase text-white text-shadow lg:w-3/4 mx-auto">{{ fields.heading }}</h2>
				{% if fields.subheading %}
					<p class="text-xl xl:text-2xl text-white mt-4 font-bold text-shadow-sm lg:w-1/2 mx-auto">{{ fields.subheading }}</p>
				{% endif %}

				{% if fields.primary_cta %}
					<div class="mt-8 flex flex-col gap-2 lg:gap-6 lg:flex-row items-center justify-center">
						{% apply shortcodes %}
							[viridis_button link="{{ fields.primary_cta.url }}" text="{{ fields.primary_cta.title }}" class="button--primary-dark"]
						{% endapply %}

						{% if fields.secondary_cta %}
							{% apply shortcodes %}
								[viridis_button link="{{ fields.secondary_cta.url }}" text="{{ fields.secondary_cta.title }}" class="button--secondary-dark"]
							{% endapply %}
						{% endif %}
					</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
