{#
/**
 * Block Name: Call-to-action block
 *
 * This is the template that displays the call-to-action block.
 */
#}
<div {{ anchor }} class="{{ background_color }}">
	<div class="w-full mx-auto xl:container px-6 py-12 lg:py-24">
		<div class="flex flex-wrap items-center">
			<div class="w-full lg:w-1/2 lg:pr-8">
				<h2 class="text-center text-3xl lg:text-5xl font-extrabold uppercase text-shadow {{ text_color }}">{{ fields.heading }}</h2>
			</div>

			<div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:pl-8">
				{% for link in fields.links %}
					<a href="{{ link.link.url|e( 'esc_url' ) }}" class="group flex gap-4 items-start px-4 py-3 no-underline relative transition-all duration-100 ease-in-out {{ link_color }}">
						<svg class="h-5 w-5 transition-all duration-100 ease-in-out mt-1 opacity-60 group-hover:opacity-100" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path fill-rule="evenodd" d="M3.75 12a.75.75 0 01.75-.75h13.19l-5.47-5.47a.75.75 0 011.06-1.06l6.75 6.75a.75.75 0 010 1.06l-6.75 6.75a.75.75 0 11-1.06-1.06l5.47-5.47H4.5a.75.75 0 01-.75-.75z" clip-rule="evenodd" /></svg>

						<div class="uppercase text-xl font-bold flex-1 pr-1 transition-all duration-100 ease-in-out group-hover:underline">{{ link.link.title|e( 'esc_html' ) }}</div>

					</a>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
